body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F5F5;
    color: #000000;
    margin: 0;
    padding: 0 4px; /* 양쪽에 4픽셀 여백 추가 */
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0; /* 상하 패딩만 유지 */
}

.container {
    max-width: calc(1200px - 8px); /* 최대 너비에서 좌우 패딩 8px 제외 */
    width: 100%;
    margin: 0 auto; /* 중앙 정렬 */
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 49px;
    font-weight: 500;
    margin-bottom: 10px;
}

h2 {
    font-size: 49px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    width: 178px;
    height: 71px;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    display: flex;
    margin: 0px auto;
    text-align: center;
}

.button:hover {
    background-color: #28C900;
    color: white;
    transform: scale(1.05);
}
.second-section h3 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.second-section h4 {
    font-size: 35px;
    font-weight: 600;
    margin-top: 0;
}

.two-column {
    display: flex;
    align-items: center;
    gap: 40px;
}

.two-column > div {
    flex: 1;
}

.two-column .text {
    text-align: left;
}

.tag-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag-button {
    background-color: transparent;
    border: none;
    color: #33FF00;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}

.tag-button:hover {
    transform: scale(1.1);
}

.tag-button.active {
    font-weight: bold;
}

.tag-button:not(.active) {
    font-weight: normal;
}

.tag-text{
    background-color: transparent;
    border: none;
    color: #33FF00;
    font-size: 18px;
    font-weight: bold;
}
.main-text {
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.detail-text {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 36px;
    }

    p {
        font-size: 18px;
    }

    .buttons {
        flex-direction: column;
    }

    .second-section h3 {
        font-size: 24px;
    }

    .second-section h4 {
        font-size: 28px;
    }

    .two-column {
        flex-direction: column;
    }

    .two-column .image {
        order: -1;
    }
}
/* 기타 CSS 규칙은 그대로 유지 */